/*-------------------------
	Сброс
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	Общие стили
--------------------------*/



a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}


/*----------------------------
	Основной раздел
-----------------------------*/



/*----------------------------
	Нижний колонтитул
-----------------------------*/



